.git
.github
.gitignore
README.md
LICENSE
CONTRIBUTING.md
CHANGELOG.md
*.md
.vscode
.idea
*.swp
*.swo
*~
.venv
node_modules
**/target
**/.cargo
**/.rustc_info.json
frontend/static/earth.glb
dev-certs
.secrets.baseline
